<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Dra. Giovanna Paulo | Médica Pediatra</title>
	</head>
	<body class="bg-brand-background font-outfit text-gray-800 antialiased">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
		scroll-behavior: smooth;
	}
</style>
